node_modules
build
dist
*.tsbuildinfo
generated
coverage
packages/app-browser/playwright-report/
packages/app-browser/test-results/
vault.json
settings.json
docs
result
packages/server/config/*
!packages/server/config/default.yaml
